<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=".">

            <img src="{{ "img/logo-desjardins.svg" | absURL }}" height="32">

            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-menu">

            <ul class="nav navbar-nav navbar-right">
                {{ range .Site.Menus.main.ByWeight }}
                  {{ if .HasChildren }}
                    <li class="navlinks-container">
                      <a class="navlinks-parent" href="javascript:void(0)">{{ .Name }}</a>
                      <div class="navlinks-children">
                        {{ range .Children }}
                          <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                        {{ end }}
                      </div>
                    </li>
                  {{ else }}
                    <li>
                      <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                {{ end }}
            </ul>

        </div>
    </div>
</nav>
