body {

}

.navbar-brand {
    float: none;
}

.navbar-brand img {
    margin-left: 15px;
}

.navbar-right {
    margin-top: 10px;
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.navbar {
    border-radius: 0px;
}

header {
    background-color: red;
    width: 100%;
    height: 600px;
}
